page-detail {
    .instructions{
        font-size: 2.2rem;
        text-align: justify;
        &>.instruction-detail{
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
            padding: 2rem;
        }
    }
}
